@charset "utf-8";

/*web font*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&subset=korean');

/*reset*/
html,body,h1,h2,h3,h4,div,p,ul,ol,li,dl,dt,dd,header,nav,section,article,aside,figure,footer,address 
{margin:0;padding:0;box-sizing:border-box;}
h1, h2, h3, h4 {font-weight:400;}
li {list-style: none;}
a{text-decoration: none; color:inherit}

body {
	font-family: 'Noto sans', 'Noto sans KR';
	font-size:14px;
	background: url('../img/img-port.jpg') center center no-repeat;
	background-size:cover;
}
header {
	position: fixed;
	top:0;
	left:0;
	right:0;
	width:1200px;
	margin:0 auto;
	z-index: 10;
}

.mainHeader {
    position: relative;
    overflow: hidden;
    padding-top:30px;
}
.mainHeader .index {
    position:absolute;
    bottom:10%;
    right:0; 
}

header img {
	width:150px;
}
.overlay {
    height: 0;
    width:100%;
    position:fixed;
    top:0; left:0;
    background:rgba(255, 255, 255, 0.8);
    overflow: hidden;
    transition:all 0.2s;
    z-index: 1
}
.overlayMenu {
    position:relative; 
    top:20%;
    width:100%;
    text-align: center;
    margin-top:40px;
    color:#1d1d1d;
    font-family:'Noto Serif KR', 'sans-serif';
	font-size:14px;
}
.overlayMenu a {
    display:block;
    padding:8px;
    font-size:36px; 
    color:#818181;
    text-decoration: none;
    transition:all 0.2s;
}
.overlayMenu a:hover{
	color:#fff;
}
.index {
	font-size: 15px; 
	font-weight: bold;
	cursor:pointer;
}
.overlay .closebtn {
    position:absolute;
    top:20px; left:45px; 
    font-size:50px; 
    color:#b1b1b1;
}
.closebtn:hover {
    color:black;
}
#fp-nav ul li a span {
	background: #fff !important;
}
.innerSection {
	position:absolute;
	top:150px;
	left:0;
	right:0;
	width:1200px;
	margin:0 auto;
}
.innerSection h2 { 
	margin-bottom:15px;
	font-size:50px;
}
.innerSection p { 
	line-height: 1.5;
	font-size:20px;
}
.section4{background:#fff;}
.section4 .innerPortfolio {
	width:1200px; 
	margin:0 auto;
	background: #fff;
	padding-bottom: 70px;
}
.section4 .innerPortfolio .port {padding:80px 0;overflow:hidden;box-sizing:border-box;}
.section4 .innerPortfolio .port .left {float:left;width:50%;padding:0 50px 0 0;}
.section4 .innerPortfolio .port .left .mock img {width:100%;}
.section4 .innerPortfolio .port .right{float:right;width:50%;}
.section4 .innerPortfolio .port .right h2{font-size:30px;line-height:28px;}
.section4 .innerPortfolio .port .right ul{padding:50px 0;}
.section4 .innerPortfolio .port .right ul li {margin:0 0 10px 0;}
.section4 .innerPortfolio .port .right ul li span{display:inline-block;}
.section4 .innerPortfolio .port .right ul li span:nth-of-type(1){padding:0 30px 0 0;width:30%;font-weight:600;}
.section4 .innerPortfolio .port .right ul li span:nth-of-type(2){color:#333;}
.section4 .innerPortfolio .port .right .btn-go{overflow:hidden;}
.section4 .innerPortfolio .port .right .btn-go a{display:inline-block;float:left;padding:10px 20px;background:#4c8ad1;color:#fff;font-size:15px;line-height:25px;border:2px solid #4c8ad1;transition:0.2s all;border-radius:5px;}
.section4 .innerPortfolio .port .right .btn-go a:hover{background:#fff; color:#4c8ad1;}
.section4 .innerPortfolio .port .right .btn-go a:nth-of-type(1){margin:0 20px 0 0;}


.scroll{
	position: fixed;
	bottom:30px;
	left:0;
	right: 0;
	text-align: center;
}
.scroll img {
	width:55px;
}
footer {
	width: 1200px;
	margin:40px auto;
	padding:40px 0;
	border-top:2px solid #cdcdcd;
	text-align:center;
	color: #cdcdcd;
}
/*tablet*/
@media screen and (max-width:1024px) {
	header {
		width:90%;
	}
	.innerSection {
		width:90%;
	}
	.innerSection h2 {font-size:40px;line-height:48px;}	
	.innerSection p {font-size: 20px;line-height:28px;}
	.innerPortfolio {width:90%; margin:0 auto;background: #fff;}
    
    .section4 .innerPortfolio .port .right ul li span:nth-of-type(1){width:16%;}
    .section4 .innerPortfolio .port .left {width:50%;}
    .section4 .innerPortfolio .port .right {width:50%;}
}

/*mobile*/ /*전체를 감싸는 요소한테 16~10px 의 마진을 주는 것이 좋음*/
@media screen and (max-width:768px){
	header {
		width: 94%;
	}
	.innerSection {
		width: 94%;
	}
	.innerSection h2 {
		font-size: 20px;
	}	
	.innerSection p {width:60%;font-size:16px;line-height:24px;}
	.innerPortfolio{
		width: 94%; 
	}
	.ul_portfolio li {width:100%;margin-left:0;margin-top:20px;}
    .section4 .innerPortfolio .port{margin:0 10px;}
    .section4 .innerPortfolio .port .left {width:30%;}
    .section4 .innerPortfolio .port .right {width:70%;}
}
@media screen and (max-width:480px) {
	.overlay a {font-size:20px}
	.overlay a .closebtn{font-size:40px;top:15px;right:35px;}
    .section4 .innerPortfolio .port .right ul li span:nth-of-type(1){width: 10%;}
    .section4 .innerPortfolio .port .left{float:none;width:40%;padding:0 0 20px 0;}
    .section4 .innerPortfolio .port .right{float:none;width:60%;padding:0 40px;}
    .section4 .innerPortfolio .port .right h2 {font-size: 22px;line-height: 30px;}
}
@media screen and (max-width:320px) {
    .section4 .innerPortfolio .port .left{float:none;width:25%;padding:0 0 20px 0;}
    .section4 .innerPortfolio .port .right ul{padding:20px 0;}
    .section4 .innerPortfolio .port .right{padding:0;}
    .section4 .innerPortfolio .port .right ul li span:nth-of-type(2) {display: block;}
}
