@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Nanum+Gothic|Roboto&display=swap');

html,body,h1,h2,h3,h4,div,p,ul,ol,li,dl,dt,dd,header,nav,section,article,aside,figure,footer,address 
{margin:0;padding:0;box-sizing:border-box;}
h1, h2, h3, h4 {font-weight: 100}
ul li, ol li {list-style: none;}
a{text-decoration: none; color:inherit}
a img {border:none;}
li {list-style: none;}
img {vertical-align: middle;}
header, main, footer, section, article, aside, nav {display: block;}
html,body{width:100%; height: 100%;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
.pc {display: none !important}
html{overflow-y: scroll; overflow-x: hidden;}